body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #eb83b4, #77d0e6);
    padding: 20px; /* Adds padding around the content */
    text-align: center; /* Centers text alignment */
}

h1 {
    color: white; 
    font-size: 38px;
}

form {
    background: rgba(118, 40, 40, 0.5); /* Semi-transparent dark red background */
    padding: 20px; /* Adds padding inside the form */
    max-width: 400px; 
    margin: auto; /* Centers the form horizontally */
    border-radius: 10px; /* Rounds the form's corners */
}

label {
    font-size: 20px;  
    font-weight: bold;
    color: #000000;
    margin-top: 12px; /* Adds spacing above the label */
}

input, textarea {
    width: 90%; 
    padding: 12px; /* Adds padding inside the input fields */
    margin: 10px 0; /* Adds vertical margin for spacing */
    border-radius: 5px; /* Rounds the input field corners */
    border: none;
    font-size: 16px; 
    font-weight: bold; 
}

input[type="submit"] {
    background: #582344; 
    color: white; 
    font-size: 16px; 
    border-radius: 20px; /* Rounds the submit button corners */
}

input[type="submit"]:hover {
    background: #510831; /* Darkens the background color on hover */
}
