body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ea589c, #ceacbf);
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

form {
    background: rgba(118, 40, 40, 0.5); 
    padding: 20px;
    max-width: 400px;
    margin: auto;
}
label {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 12px;
}

input, textarea {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}



input[type="submit"] {
   
    background: #6f2252;

    color: white;
    font-size: 16px;
    font-weight: bold;

}

input[type="submit"]:hover {
    background: #510831;

}
